---
import '../assets/app.css';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Home</title>
  </head>
  <body>
    <Navbar />
    <Hero />
    <main>
      <section class="bg-[#A38A6C]">
        <div class="mx-auto max-w-6xl px-4">
          <h1 class="text-2xl font-bold">hello world</h1>
        </div>
      </section>
    </main>
  </body>
</html>
