---
import { Image } from 'astro:assets';
import CtaBanner from '../images/CTABanner.jpg';
---

<section class="relative z-10 w-full">
  <Image
    src={CtaBanner}
    alt="Hero background"
    class="absolute h-[50vh] w-full object-cover"
    quality="high"
  />

  <!-- Content -->
  <div
    class="relative flex h-[50vh] flex-col items-center justify-center text-center text-white"
  >
    <h4 class="font-[rufina] text-lg tracking-widest sm:text-base md:text-3xl">
      Are You Looking For Carpenters based in Dublin?
    </h4>
    <p class="mt-2 text-lg leading-relaxed sm:text-base md:text-2xl">
      Call now and get a free quotation today!
    </p>
    <a
      href="tel:+0861961315"
      class="mt-5 rounded-xl bg-[#1e67ce] px-6 py-3 text-base font-semibold text-white"
    >
      Call Now
    </a>
  </div>
</section>
