---
import '@fontsource/rufina';

interface LinkProps {
  text: string;
  target: string;
}

const { text, target } = Astro.props;
---

<a class="text-xl uppercase text-white hover:text-gray-500 font-[rufina]" href={target}>{text}</a>


